* {
    padding: 0;
    margin: 0;
}


#post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    color: white
}

.postmodal-content {
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    background: #210D26;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    text-align: center;
}

.header-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 28px 28px 0px 0px;
    background: #291D2C;
    border-bottom: 2px solid #FFFFFF;
    font: normal 800 1.25rem 'Oxanium', sans-serif;
    color: #FFFFFF;

}

.title-cont {
    margin-top: 20px;

    h3 {
        font: normal 800 1.5rem 'Oxanium', sans-serif;
        color: #FFFFFF;
    }

    #postquest_title {
        width: 600px;
        height: 50px;
        background: #632673;
        border-radius: 25px;
        text-align: center;
        font: normal 500 2rem 'Inter', sans-serif;
    }

    ::placeholder {
        color: rgb(177, 177, 177);
        font: normal 500 2rem 'Oxanium', sans-serif;
    }
}

.details-cont {
    margin-top: 15px;

    h3 {
        font: normal 800 1.5rem 'Oxanium', sans-serif;
        color: #FFFFFF;
    }

    #postquest_details { 
        width: 650px;
        height: 300px;
        padding: 3px;
        background: #632673;
        border-radius: 10px;
        line-height: 3;
        resize: none;
        font: normal 400 1rem 'Inter', sans-serif;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    ::placeholder {
        color: rgb(177, 177, 177);
        font: normal 500 1rem 'Oxanium', sans-serif;
    }

}

.bottom-cont {
    display: flex;
    justify-content: space-around;
}

.carddesc-cont {
    width: 450px;
    margin-top: 15px;

    h3 {
        font: normal 800 1.3rem 'Oxanium', sans-serif;
        color: white;
    }

    #carddescription {
        width: 350px;
        height: 110px;
        padding: 3px;
        background: #632673;
        border-radius: 10px;
        line-height: 3;
        resize: none;
        font: 400 1rem 'Inter', sans-serif;

    }

    ::placeholder {
        color: rgb(177, 177, 177);
        font: normal 500 1rem 'Oxanium', sans-serif;
    }
}

.reward-cont {
    margin: 3px 50px 0px 0px;

    #rc-cont {
        display: flex;
        align-items: center;
        font: normal 800 1.3rem 'Oxanium', sans-serif;

        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }

    #dropdown {
        width: 200px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        color: black;
    }

    option {
        color: black;
    }

    p {
        font: normal 400 1rem 'Inter', sans-serif;
        margin: 15px 0px 5px 0px;
    }
}

.postbtn-cont {
    margin: 40px 0px 0px 0px;

    #create_quest {
        background: #F8E559;
        font: normal 600 1.2rem 'Roboto Condensed', sans-serif;
        width: 120px;
        height: 55px;
        border-radius: 15px;
        color: black;
        margin-left: 10px;
    }

    #close {
        background: #000000;
        font: normal 600 1.2rem 'Roboto Condensed', sans-serif;
        width: 120px;
        height: 55px;
        border-radius: 15px;
        color: #FFFFFF;
        margin-right: 10px;
    }

    
}